extends layout

block content
  header
    header1
      div
        img(src='/images/Ellipse 1.png')
      div
        div
          catalogoTexto Catalogo Digital de
        div
          nombreUsuario Emilia Nacarino Torres
  div
    embed(src='/pdf/esika.peru.c11.2021.pdf#scrollbar=0' style='width:100%;height:540px;')
